@import "tailwindcss";
@import "highlight.js/styles/atom-one-dark.css";
@import "./styles/themes/dark-minimal.css";
@import "./styles/themes/iris-pink.css";

[data-theme="dark-minimal"] {
  color-scheme: dark;
}

[data-theme="iris-pink"] {
  color-scheme: light;
}

select,
select option {
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-primary);
}

